.container {
  padding: 30px;
  background-color: #f5f5f5;
}
.orders_container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.orders_container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom:2px solid var(--primary-shade);
  padding-bottom: 10px;
}
.orders_container p {
  padding: 12px;
}

.orders_container img{
    width: 100px !important;
}
.orders_container div{
    height: auto !important;
}